/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  font-size: 16px;
  border-top: 1px solid #4F8EF7;
  text-align: center;
  font-family: "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  letter-spacing: -1px;
}

h1 {
  color: #999;
  font-size: 16px;
  font-weight: normal;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: none;
  text-shadow: none;
  color: #4F8EF7;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul li {
  list-style: inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}

.header  {
  margin: 10px auto;
  max-width: 200px;
  text-align: center;
}
.download a {
  display: inline-block;
  background-color: white;
  border: 2px solid #4F8EF7;
  padding: 12px 40px;
}
.footer {
  margin: 30px auto;
  padding: 20px 0;
  width: 700px;
  border-top: 1px solid #ddd;
}


/* @license
 * MyFonts Webfont Build ID 2656303, 2013-10-02T11:03:28-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Avenir Next Pro Regular by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-regular/
 * 
 * Webfont: Avenir Next Pro Medium by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/avenir-next-pro/pro-medium/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2656303
 * Licensed pageviews: 250,000
 * Webfonts copyright: Copyright &#x00A9; 2004 - 2007 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Avenir is a trademark of Linotype GmbH
 * 
 * © 2013 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work 
@import url("//hello.myfonts.net/count/28882f");*/

  
@font-face {font-family: 'AvenirNextLTPro-Regular';src: url('fonts/28882F_0_0.eot');src: url('fonts/28882F_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/28882F_0_0.woff') format('woff'),url('fonts/28882F_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'AvenirNextLTPro-Medium';src: url('fonts/28882F_1_0.eot');src: url('fonts/28882F_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/28882F_1_0.woff') format('woff'),url('fonts/28882F_1_0.ttf') format('truetype');}


