// Ionicons Variables
// --------------------------

$ionicons-font-path: '../fonts' !default;
$ionicons-font-family: 'Ionicons' !default;
$ionicons-version: '1.5.2' !default;
$ionicons-prefix: ion- !default;

$ionicons: (
    alert: '\f101',
    alert-circled: '\f100',
    android-add: '\f2c7',
    android-add-contact: '\f2c6',
    android-alarm: '\f2c8',
    android-archive: '\f2c9',
    android-arrow-back: '\f2ca',
    android-arrow-down-left: '\f2cb',
    android-arrow-down-right: '\f2cc',
    android-arrow-forward: '\f30f',
    android-arrow-up-left: '\f2cd',
    android-arrow-up-right: '\f2ce',
    android-battery: '\f2cf',
    android-book: '\f2d0',
    android-calendar: '\f2d1',
    android-call: '\f2d2',
    android-camera: '\f2d3',
    android-chat: '\f2d4',
    android-checkmark: '\f2d5',
    android-clock: '\f2d6',
    android-close: '\f2d7',
    android-contact: '\f2d8',
    android-contacts: '\f2d9',
    android-data: '\f2da',
    android-developer: '\f2db',
    android-display: '\f2dc',
    android-download: '\f2dd',
    android-drawer: '\f310',
    android-dropdown: '\f2de',
    android-earth: '\f2df',
    android-folder: '\f2e0',
    android-forums: '\f2e1',
    android-friends: '\f2e2',
    android-hand: '\f2e3',
    android-image: '\f2e4',
    android-inbox: '\f2e5',
    android-information: '\f2e6',
    android-keypad: '\f2e7',
    android-lightbulb: '\f2e8',
    android-locate: '\f2e9',
    android-location: '\f2ea',
    android-mail: '\f2eb',
    android-microphone: '\f2ec',
    android-mixer: '\f2ed',
    android-more: '\f2ee',
    android-note: '\f2ef',
    android-playstore: '\f2f0',
    android-printer: '\f2f1',
    android-promotion: '\f2f2',
    android-reminder: '\f2f3',
    android-remove: '\f2f4',
    android-search: '\f2f5',
    android-send: '\f2f6',
    android-settings: '\f2f7',
    android-share: '\f2f8',
    android-social: '\f2fa',
    android-social-user: '\f2f9',
    android-sort: '\f2fb',
    android-stair-drawer: '\f311',
    android-star: '\f2fc',
    android-stopwatch: '\f2fd',
    android-storage: '\f2fe',
    android-system-back: '\f2ff',
    android-system-home: '\f300',
    android-system-windows: '\f301',
    android-timer: '\f302',
    android-trash: '\f303',
    android-user-menu: '\f312',
    android-volume: '\f304',
    android-wifi: '\f305',
    aperture: '\f313',
    archive: '\f102',
    arrow-down-a: '\f103',
    arrow-down-b: '\f104',
    arrow-down-c: '\f105',
    arrow-expand: '\f25e',
    arrow-graph-down-left: '\f25f',
    arrow-graph-down-right: '\f260',
    arrow-graph-up-left: '\f261',
    arrow-graph-up-right: '\f262',
    arrow-left-a: '\f106',
    arrow-left-b: '\f107',
    arrow-left-c: '\f108',
    arrow-move: '\f263',
    arrow-resize: '\f264',
    arrow-return-left: '\f265',
    arrow-return-right: '\f266',
    arrow-right-a: '\f109',
    arrow-right-b: '\f10a',
    arrow-right-c: '\f10b',
    arrow-shrink: '\f267',
    arrow-swap: '\f268',
    arrow-up-a: '\f10c',
    arrow-up-b: '\f10d',
    arrow-up-c: '\f10e',
    asterisk: '\f314',
    at: '\f10f',
    bag: '\f110',
    battery-charging: '\f111',
    battery-empty: '\f112',
    battery-full: '\f113',
    battery-half: '\f114',
    battery-low: '\f115',
    beaker: '\f269',
    beer: '\f26a',
    bluetooth: '\f116',
    bonfire: '\f315',
    bookmark: '\f26b',
    briefcase: '\f26c',
    bug: '\f2be',
    calculator: '\f26d',
    calendar: '\f117',
    camera: '\f118',
    card: '\f119',
    cash: '\f316',
    chatbox: '\f11b',
    chatbox-working: '\f11a',
    chatboxes: '\f11c',
    chatbubble: '\f11e',
    chatbubble-working: '\f11d',
    chatbubbles: '\f11f',
    checkmark: '\f122',
    checkmark-circled: '\f120',
    checkmark-round: '\f121',
    chevron-down: '\f123',
    chevron-left: '\f124',
    chevron-right: '\f125',
    chevron-up: '\f126',
    clipboard: '\f127',
    clock: '\f26e',
    close: '\f12a',
    close-circled: '\f128',
    close-round: '\f129',
    closed-captioning: '\f317',
    cloud: '\f12b',
    code: '\f271',
    code-download: '\f26f',
    code-working: '\f270',
    coffee: '\f272',
    compass: '\f273',
    compose: '\f12c',
    connection-bars: '\f274',
    contrast: '\f275',
    cube: '\f318',
    disc: '\f12d',
    document: '\f12f',
    document-text: '\f12e',
    drag: '\f130',
    earth: '\f276',
    edit: '\f2bf',
    egg: '\f277',
    eject: '\f131',
    email: '\f132',
    eye: '\f133',
    eye-disabled: '\f306',
    female: '\f278',
    filing: '\f134',
    film-marker: '\f135',
    fireball: '\f319',
    flag: '\f279',
    flame: '\f31a',
    flash: '\f137',
    flash-off: '\f136',
    flask: '\f138',
    folder: '\f139',
    fork: '\f27a',
    fork-repo: '\f2c0',
    forward: '\f13a',
    funnel: '\f31b',
    game-controller-a: '\f13b',
    game-controller-b: '\f13c',
    gear-a: '\f13d',
    gear-b: '\f13e',
    grid: '\f13f',
    hammer: '\f27b',
    happy: '\f31c',
    headphone: '\f140',
    heart: '\f141',
    heart-broken: '\f31d',
    help: '\f143',
    help-buoy: '\f27c',
    help-circled: '\f142',
    home: '\f144',
    icecream: '\f27d',
    icon-social-google-plus: '\f146',
    icon-social-google-plus-outline: '\f145',
    image: '\f147',
    images: '\f148',
    information: '\f14a',
    information-circled: '\f149',
    ionic: '\f14b',
    ios7-alarm: '\f14d',
    ios7-alarm-outline: '\f14c',
    ios7-albums: '\f14f',
    ios7-albums-outline: '\f14e',
    ios7-americanfootball: '\f31f',
    ios7-americanfootball-outline: '\f31e',
    ios7-analytics: '\f321',
    ios7-analytics-outline: '\f320',
    ios7-arrow-back: '\f150',
    ios7-arrow-down: '\f151',
    ios7-arrow-forward: '\f152',
    ios7-arrow-left: '\f153',
    ios7-arrow-right: '\f154',
    ios7-arrow-thin-down: '\f27e',
    ios7-arrow-thin-left: '\f27f',
    ios7-arrow-thin-right: '\f280',
    ios7-arrow-thin-up: '\f281',
    ios7-arrow-up: '\f155',
    ios7-at: '\f157',
    ios7-at-outline: '\f156',
    ios7-barcode: '\f323',
    ios7-barcode-outline: '\f322',
    ios7-baseball: '\f325',
    ios7-baseball-outline: '\f324',
    ios7-basketball: '\f327',
    ios7-basketball-outline: '\f326',
    ios7-bell: '\f159',
    ios7-bell-outline: '\f158',
    ios7-bolt: '\f15b',
    ios7-bolt-outline: '\f15a',
    ios7-bookmarks: '\f15d',
    ios7-bookmarks-outline: '\f15c',
    ios7-box: '\f15f',
    ios7-box-outline: '\f15e',
    ios7-briefcase: '\f283',
    ios7-briefcase-outline: '\f282',
    ios7-browsers: '\f161',
    ios7-browsers-outline: '\f160',
    ios7-calculator: '\f285',
    ios7-calculator-outline: '\f284',
    ios7-calendar: '\f163',
    ios7-calendar-outline: '\f162',
    ios7-camera: '\f165',
    ios7-camera-outline: '\f164',
    ios7-cart: '\f167',
    ios7-cart-outline: '\f166',
    ios7-chatboxes: '\f169',
    ios7-chatboxes-outline: '\f168',
    ios7-chatbubble: '\f16b',
    ios7-chatbubble-outline: '\f16a',
    ios7-checkmark: '\f16e',
    ios7-checkmark-empty: '\f16c',
    ios7-checkmark-outline: '\f16d',
    ios7-circle-filled: '\f16f',
    ios7-circle-outline: '\f170',
    ios7-clock: '\f172',
    ios7-clock-outline: '\f171',
    ios7-close: '\f2bc',
    ios7-close-empty: '\f2bd',
    ios7-close-outline: '\f2bb',
    ios7-cloud: '\f178',
    ios7-cloud-download: '\f174',
    ios7-cloud-download-outline: '\f173',
    ios7-cloud-outline: '\f175',
    ios7-cloud-upload: '\f177',
    ios7-cloud-upload-outline: '\f176',
    ios7-cloudy: '\f17a',
    ios7-cloudy-night: '\f308',
    ios7-cloudy-night-outline: '\f307',
    ios7-cloudy-outline: '\f179',
    ios7-cog: '\f17c',
    ios7-cog-outline: '\f17b',
    ios7-compose: '\f17e',
    ios7-compose-outline: '\f17d',
    ios7-contact: '\f180',
    ios7-contact-outline: '\f17f',
    ios7-copy: '\f182',
    ios7-copy-outline: '\f181',
    ios7-download: '\f184',
    ios7-download-outline: '\f183',
    ios7-drag: '\f185',
    ios7-email: '\f187',
    ios7-email-outline: '\f186',
    ios7-expand: '\f30d',
    ios7-eye: '\f189',
    ios7-eye-outline: '\f188',
    ios7-fastforward: '\f18b',
    ios7-fastforward-outline: '\f18a',
    ios7-filing: '\f18d',
    ios7-filing-outline: '\f18c',
    ios7-film: '\f18f',
    ios7-film-outline: '\f18e',
    ios7-flag: '\f191',
    ios7-flag-outline: '\f190',
    ios7-folder: '\f193',
    ios7-folder-outline: '\f192',
    ios7-football: '\f329',
    ios7-football-outline: '\f328',
    ios7-gear: '\f195',
    ios7-gear-outline: '\f194',
    ios7-glasses: '\f197',
    ios7-glasses-outline: '\f196',
    ios7-heart: '\f199',
    ios7-heart-outline: '\f198',
    ios7-help: '\f19c',
    ios7-help-empty: '\f19a',
    ios7-help-outline: '\f19b',
    ios7-home: '\f32b',
    ios7-home-outline: '\f32a',
    ios7-infinite: '\f19e',
    ios7-infinite-outline: '\f19d',
    ios7-information: '\f1a1',
    ios7-information-empty: '\f19f',
    ios7-information-outline: '\f1a0',
    ios7-ionic-outline: '\f1a2',
    ios7-keypad: '\f1a4',
    ios7-keypad-outline: '\f1a3',
    ios7-lightbulb: '\f287',
    ios7-lightbulb-outline: '\f286',
    ios7-location: '\f1a6',
    ios7-location-outline: '\f1a5',
    ios7-locked: '\f1a8',
    ios7-locked-outline: '\f1a7',
    ios7-loop: '\f32d',
    ios7-loop-strong: '\f32c',
    ios7-medkit: '\f289',
    ios7-medkit-outline: '\f288',
    ios7-mic: '\f1ab',
    ios7-mic-off: '\f1a9',
    ios7-mic-outline: '\f1aa',
    ios7-minus: '\f1ae',
    ios7-minus-empty: '\f1ac',
    ios7-minus-outline: '\f1ad',
    ios7-monitor: '\f1b0',
    ios7-monitor-outline: '\f1af',
    ios7-moon: '\f1b2',
    ios7-moon-outline: '\f1b1',
    ios7-more: '\f1b4',
    ios7-more-outline: '\f1b3',
    ios7-musical-note: '\f1b5',
    ios7-musical-notes: '\f1b6',
    ios7-navigate: '\f1b8',
    ios7-navigate-outline: '\f1b7',
    ios7-paper: '\f32f',
    ios7-paper-outline: '\f32e',
    ios7-paperplane: '\f1ba',
    ios7-paperplane-outline: '\f1b9',
    ios7-partlysunny: '\f1bc',
    ios7-partlysunny-outline: '\f1bb',
    ios7-pause: '\f1be',
    ios7-pause-outline: '\f1bd',
    ios7-paw: '\f331',
    ios7-paw-outline: '\f330',
    ios7-people: '\f1c0',
    ios7-people-outline: '\f1bf',
    ios7-person: '\f1c2',
    ios7-person-outline: '\f1c1',
    ios7-personadd: '\f1c4',
    ios7-personadd-outline: '\f1c3',
    ios7-photos: '\f1c6',
    ios7-photos-outline: '\f1c5',
    ios7-pie: '\f28b',
    ios7-pie-outline: '\f28a',
    ios7-play: '\f1c8',
    ios7-play-outline: '\f1c7',
    ios7-plus: '\f1cb',
    ios7-plus-empty: '\f1c9',
    ios7-plus-outline: '\f1ca',
    ios7-pricetag: '\f28d',
    ios7-pricetag-outline: '\f28c',
    ios7-pricetags: '\f333',
    ios7-pricetags-outline: '\f332',
    ios7-printer: '\f1cd',
    ios7-printer-outline: '\f1cc',
    ios7-pulse: '\f335',
    ios7-pulse-strong: '\f334',
    ios7-rainy: '\f1cf',
    ios7-rainy-outline: '\f1ce',
    ios7-recording: '\f1d1',
    ios7-recording-outline: '\f1d0',
    ios7-redo: '\f1d3',
    ios7-redo-outline: '\f1d2',
    ios7-refresh: '\f1d6',
    ios7-refresh-empty: '\f1d4',
    ios7-refresh-outline: '\f1d5',
    ios7-reload: '\f28e',
    ios7-reverse-camera: '\f337',
    ios7-reverse-camera-outline: '\f336',
    ios7-rewind: '\f1d8',
    ios7-rewind-outline: '\f1d7',
    ios7-search: '\f1da',
    ios7-search-strong: '\f1d9',
    ios7-settings: '\f339',
    ios7-settings-strong: '\f338',
    ios7-shrink: '\f30e',
    ios7-skipbackward: '\f1dc',
    ios7-skipbackward-outline: '\f1db',
    ios7-skipforward: '\f1de',
    ios7-skipforward-outline: '\f1dd',
    ios7-snowy: '\f309',
    ios7-speedometer: '\f290',
    ios7-speedometer-outline: '\f28f',
    ios7-star: '\f1e0',
    ios7-star-half: '\f33a',
    ios7-star-outline: '\f1df',
    ios7-stopwatch: '\f1e2',
    ios7-stopwatch-outline: '\f1e1',
    ios7-sunny: '\f1e4',
    ios7-sunny-outline: '\f1e3',
    ios7-telephone: '\f1e6',
    ios7-telephone-outline: '\f1e5',
    ios7-tennisball: '\f33c',
    ios7-tennisball-outline: '\f33b',
    ios7-thunderstorm: '\f1e8',
    ios7-thunderstorm-outline: '\f1e7',
    ios7-time: '\f292',
    ios7-time-outline: '\f291',
    ios7-timer: '\f1ea',
    ios7-timer-outline: '\f1e9',
    ios7-toggle: '\f33e',
    ios7-toggle-outline: '\f33d',
    ios7-trash: '\f1ec',
    ios7-trash-outline: '\f1eb',
    ios7-undo: '\f1ee',
    ios7-undo-outline: '\f1ed',
    ios7-unlocked: '\f1f0',
    ios7-unlocked-outline: '\f1ef',
    ios7-upload: '\f1f2',
    ios7-upload-outline: '\f1f1',
    ios7-videocam: '\f1f4',
    ios7-videocam-outline: '\f1f3',
    ios7-volume-high: '\f1f5',
    ios7-volume-low: '\f1f6',
    ios7-wineglass: '\f294',
    ios7-wineglass-outline: '\f293',
    ios7-world: '\f1f8',
    ios7-world-outline: '\f1f7',
    ipad: '\f1f9',
    iphone: '\f1fa',
    ipod: '\f1fb',
    jet: '\f295',
    key: '\f296',
    knife: '\f297',
    laptop: '\f1fc',
    leaf: '\f1fd',
    levels: '\f298',
    lightbulb: '\f299',
    link: '\f1fe',
    load-a: '\f29a',
    load-b: '\f29b',
    load-c: '\f29c',
    load-d: '\f29d',
    location: '\f1ff',
    locked: '\f200',
    log-in: '\f29e',
    log-out: '\f29f',
    loop: '\f201',
    magnet: '\f2a0',
    male: '\f2a1',
    man: '\f202',
    map: '\f203',
    medkit: '\f2a2',
    merge: '\f33f',
    mic-a: '\f204',
    mic-b: '\f205',
    mic-c: '\f206',
    minus: '\f209',
    minus-circled: '\f207',
    minus-round: '\f208',
    model-s: '\f2c1',
    monitor: '\f20a',
    more: '\f20b',
    mouse: '\f340',
    music-note: '\f20c',
    navicon: '\f20e',
    navicon-round: '\f20d',
    navigate: '\f2a3',
    network: '\f341',
    no-smoking: '\f2c2',
    nuclear: '\f2a4',
    outlet: '\f342',
    paper-airplane: '\f2c3',
    paperclip: '\f20f',
    pause: '\f210',
    person: '\f213',
    person-add: '\f211',
    person-stalker: '\f212',
    pie-graph: '\f2a5',
    pin: '\f2a6',
    pinpoint: '\f2a7',
    pizza: '\f2a8',
    plane: '\f214',
    planet: '\f343',
    play: '\f215',
    playstation: '\f30a',
    plus: '\f218',
    plus-circled: '\f216',
    plus-round: '\f217',
    podium: '\f344',
    pound: '\f219',
    power: '\f2a9',
    pricetag: '\f2aa',
    pricetags: '\f2ab',
    printer: '\f21a',
    pull-request: '\f345',
    qr-scanner: '\f346',
    quote: '\f347',
    radio-waves: '\f2ac',
    record: '\f21b',
    refresh: '\f21c',
    reply: '\f21e',
    reply-all: '\f21d',
    ribbon-a: '\f348',
    ribbon-b: '\f349',
    sad: '\f34a',
    scissors: '\f34b',
    search: '\f21f',
    settings: '\f2ad',
    share: '\f220',
    shuffle: '\f221',
    skip-backward: '\f222',
    skip-forward: '\f223',
    social-android: '\f225',
    social-android-outline: '\f224',
    social-apple: '\f227',
    social-apple-outline: '\f226',
    social-bitcoin: '\f2af',
    social-bitcoin-outline: '\f2ae',
    social-buffer: '\f229',
    social-buffer-outline: '\f228',
    social-designernews: '\f22b',
    social-designernews-outline: '\f22a',
    social-dribbble: '\f22d',
    social-dribbble-outline: '\f22c',
    social-dropbox: '\f22f',
    social-dropbox-outline: '\f22e',
    social-facebook: '\f231',
    social-facebook-outline: '\f230',
    social-foursquare: '\f34d',
    social-foursquare-outline: '\f34c',
    social-freebsd-devil: '\f2c4',
    social-github: '\f233',
    social-github-outline: '\f232',
    social-google: '\f34f',
    social-google-outline: '\f34e',
    social-googleplus: '\f235',
    social-googleplus-outline: '\f234',
    social-hackernews: '\f237',
    social-hackernews-outline: '\f236',
    social-instagram: '\f351',
    social-instagram-outline: '\f350',
    social-linkedin: '\f239',
    social-linkedin-outline: '\f238',
    social-pinterest: '\f2b1',
    social-pinterest-outline: '\f2b0',
    social-reddit: '\f23b',
    social-reddit-outline: '\f23a',
    social-rss: '\f23d',
    social-rss-outline: '\f23c',
    social-skype: '\f23f',
    social-skype-outline: '\f23e',
    social-tumblr: '\f241',
    social-tumblr-outline: '\f240',
    social-tux: '\f2c5',
    social-twitter: '\f243',
    social-twitter-outline: '\f242',
    social-usd: '\f353',
    social-usd-outline: '\f352',
    social-vimeo: '\f245',
    social-vimeo-outline: '\f244',
    social-windows: '\f247',
    social-windows-outline: '\f246',
    social-wordpress: '\f249',
    social-wordpress-outline: '\f248',
    social-yahoo: '\f24b',
    social-yahoo-outline: '\f24a',
    social-youtube: '\f24d',
    social-youtube-outline: '\f24c',
    speakerphone: '\f2b2',
    speedometer: '\f2b3',
    spoon: '\f2b4',
    star: '\f24e',
    stats-bars: '\f2b5',
    steam: '\f30b',
    stop: '\f24f',
    thermometer: '\f2b6',
    thumbsdown: '\f250',
    thumbsup: '\f251',
    toggle: '\f355',
    toggle-filled: '\f354',
    trash-a: '\f252',
    trash-b: '\f253',
    trophy: '\f356',
    umbrella: '\f2b7',
    university: '\f357',
    unlocked: '\f254',
    upload: '\f255',
    usb: '\f2b8',
    videocamera: '\f256',
    volume-high: '\f257',
    volume-low: '\f258',
    volume-medium: '\f259',
    volume-mute: '\f25a',
    wand: '\f358',
    waterdrop: '\f25b',
    wifi: '\f25c',
    wineglass: '\f2b9',
    woman: '\f25d',
    wrench: '\f2ba',
    xbox: '\f30c'
);