// Ionicons Font Path
// --------------------------

@font-face {
 font-family: "Ionicons";
 src:url("#{$ionicons-font-path}/ionicons.eot?v=#{$ionicons-version}");
 src:url("#{$ionicons-font-path}/ionicons.eot?v=#{$ionicons-version}#iefix") format("embedded-opentype"),
  url("#{$ionicons-font-path}/ionicons.ttf?v=#{$ionicons-version}") format("truetype"),
  url("#{$ionicons-font-path}/ionicons.woff?v=#{$ionicons-version}") format("woff"),
  url("#{$ionicons-font-path}/ionicons.svg?v=#{$ionicons-version}#Ionicons") format("svg");
 font-weight: normal;
 font-style: normal;
}