// Variables - Get the unicode values from fonts/ionicons.svg after
//   running the generate.py script
// ===============================================
$ionicon-var-shipt-barcode-scanner: "\f13b";

// Content Mapping
// ===============================================
.ion-shipt-barcode-scanner:before {
  content: $ionicon-var-shipt-barcode-scanner;
}

// Style Inheritance
// ===============================================
.#{$ionicons-prefix}shipt-barcode-scanner:before
{
  @extend .ion;
}

// Styling
// ===============================================
.ion-shipt-barcode-scanner {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}