
main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  color: gray;
}
