:host {
  display: inline-block;

  width: 1em;
  height: 1em;

  contain: strict;

  box-sizing: content-box !important;
}

:host(.ion-color) {
  color: var(--ion-color-base) !important;
}

:host(.icon-small) {
  font-size: var(--ion-icon-size-small, 18px) !important;
}

:host(.icon-large){
  font-size: var(--ion-icon-size-large, 32px) !important;
}

.icon-inner,
svg {
  display: block;

  fill: currentColor;
  stroke: currentColor;

  height: 100%;
  width: 100%;
}

/* Set iOS Icon Colors */
/* ------------------- */

:host(.ion-color-primary) {
  --ion-color-base: var(--ion-color-primary, #3880ff);
}

:host(.ion-color-secondary) {
  --ion-color-base: var(--ion-color-secondary, #0cd1e8);
}

:host(.ion-color-tertiary) {
  --ion-color-base: var(--ion-color-tertiary, #f4a942);
}

:host(.ion-color-success) {
  --ion-color-base: var(--ion-color-success, #10dc60);
}

:host(.ion-color-warning) {
  --ion-color-base: var(--ion-color-warning, #ffce00);
}

:host(.ion-color-danger) {
  --ion-color-base: var(--ion-color-danger, #f14141);
}

:host(.ion-color-light) {
  --ion-color-base: var(--ion-color-light, #f4f5f8);
}

:host(.ion-color-medium) {
  --ion-color-base: var(--ion-color-medium, #989aa2);
}

:host(.ion-color-dark) {
  --ion-color-base: var(--ion-color-dark, #222428);
}
