<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Ionicons Icon Component</title>
  <script src="/build/ionicons.js"></script>

</head>
<body>

  <h1>Ionicons</h1>

  <h2>Mode: default (md)</h2>
  <ion-icon name="cellular"></ion-icon>
  <ion-icon name="at"></ion-icon>
  <ion-icon name="call"></ion-icon>
  <ion-icon name="football"></ion-icon>
  <ion-icon name="analytics"></ion-icon>
  <ion-icon name="grid"></ion-icon>
  <ion-icon name="funnel"></ion-icon>
  <ion-icon name="watch"></ion-icon>
  <ion-icon name="switch"></ion-icon>

  <h2>Mode: ios</h2>
  <ion-icon mode="ios" name="cellular"></ion-icon>
  <ion-icon mode="ios" name="at"></ion-icon>
  <ion-icon mode="ios" name="call"></ion-icon>
  <ion-icon mode="ios" name="football"></ion-icon>
  <ion-icon mode="ios" name="analytics"></ion-icon>
  <ion-icon mode="ios" name="grid"></ion-icon>
  <ion-icon mode="ios" name="funnel"></ion-icon>
  <ion-icon mode="ios" name="watch"></ion-icon>
  <ion-icon mode="ios" name="switch"></ion-icon>

  <h2>Colors</h2>
  <ion-icon color="primary" name="cellular"></ion-icon>
  <ion-icon color="secondary" name="at"></ion-icon>
  <ion-icon color="tertiary" name="call"></ion-icon>
  <ion-icon color="success" name="football"></ion-icon>
  <ion-icon color="warning" name="analytics"></ion-icon>
  <ion-icon color="danger" name="grid"></ion-icon>
  <ion-icon color="light" name="funnel"></ion-icon>
  <ion-icon color="medium" name="watch"></ion-icon>
  <ion-icon color="dark" name="switch"></ion-icon>

  <h2>Logos</h2>
  <ion-icon name="logo-ionic"></ion-icon>
  <ion-icon name="logo-github"></ion-icon>
  <ion-icon name="logo-instagram"></ion-icon>
  <ion-icon name="logo-android"></ion-icon>
  <ion-icon name="logo-javascript"></ion-icon>
  <ion-icon name="logo-npm"></ion-icon>
  <ion-icon name="logo-reddit"></ion-icon>
  <ion-icon name="logo-tux"></ion-icon>
  <ion-icon name="logo-buffer"></ion-icon>

  <h2>Logos: colors</h2>
  <ion-icon color="primary" name="logo-ionic"></ion-icon>
  <ion-icon color="secondary" name="logo-github"></ion-icon>
  <ion-icon color="tertiary" name="logo-instagram"></ion-icon>
  <ion-icon color="success" name="logo-android"></ion-icon>
  <ion-icon color="warning" name="logo-javascript"></ion-icon>
  <ion-icon color="danger" name="logo-npm"></ion-icon>
  <ion-icon color="light" name="logo-reddit"></ion-icon>
  <ion-icon color="medium" name="logo-tux"></ion-icon>
  <ion-icon color="dark" name="logo-buffer"></ion-icon>

  <h1>RTL</h1>

  <h2>Default: Non-arrows</h2>
  <ion-icon name="cut"></ion-icon>
  <ion-icon name="call"></ion-icon>
  <ion-icon name="checkbox"></ion-icon>
  <ion-icon name="brush"></ion-icon>

  <h2>Flip: Non-arrows</h2>
  <ion-icon name="cut" flip-rtl></ion-icon>
  <ion-icon name="call" flip-rtl></ion-icon>
  <ion-icon name="checkbox" flip-rtl></ion-icon>
  <ion-icon name="brush" flip-rtl></ion-icon>

  <h2>Auto Flip: arrows</h2>
  <ion-icon name="arrow-up"></ion-icon>
  <ion-icon name="arrow-forward"></ion-icon>
  <ion-icon name="arrow-down"></ion-icon>
  <ion-icon name="arrow-back"></ion-icon>

  <h2>Un-flip: arrows</h2>
  <ion-icon name="arrow-up" flip-rtl="false"></ion-icon>
  <ion-icon name="arrow-forward" flip-rtl="false"></ion-icon>
  <ion-icon name="arrow-down" flip-rtl="false"></ion-icon>
  <ion-icon name="arrow-back" flip-rtl="false"></ion-icon>

  <style>
    body {
      margin: 0;
      padding: 16px;
      font-size: 32px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    h1 {
      margin: 15px 0 5px;
      font-size: 25px;
    }

    h2 {
      margin: 15px 0 5px;
      font-size: 18px;
    }
  </style>
</body>
</html>
