
icon-search {
  display: block;
}

.results {
  padding-left: 10px;
  text-align: left;
}

.ion {
  display: inline-block;

  font-size: 36px;

  margin: 10px;
  min-width: 36px;
}

a {
  color: black;
}
