<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../../../../dist/ionicons.js"></script>
</head>
<body>
  <p><ion-icon id="first" name="add"></ion-icon></p>
  <p><ion-icon name="add"></ion-icon></p>
  <p><ion-icon name="add"></ion-icon></p>
  <p><ion-icon name="add"></ion-icon></p>
  <p><ion-icon name="add"></ion-icon></p>
  <p><ion-icon name="add"></ion-icon></p>
  <p><ion-icon name="add"></ion-icon></p>
  <p><ion-icon name="add"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="airplane"></ion-icon></p>
  <p><ion-icon name="at"></ion-icon></p>
  <p><ion-icon name="at"></ion-icon></p>
  <p><ion-icon name="at"></ion-icon></p>
  <p><ion-icon name="at"></ion-icon></p>
  <p><ion-icon name="at"></ion-icon></p>
  <p><ion-icon name="at"></ion-icon></p>
  <p><ion-icon name="alarm"></ion-icon></p>
  <p><ion-icon name="alarm"></ion-icon></p>
  <p><ion-icon name="alarm"></ion-icon></p>
  <p><ion-icon name="alarm"></ion-icon></p>

  <script>
    setTimeout(() => {
      document.getElementById('first').name = "beer";
    }, 3000);
  </script>
</body>
</html>